<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-8 text-center phone-text-center square-turtle">
            <p>2017 &copy; Powered by - <a href="http://www.ranglerz.com/" target="_blank">Ranglerz Digital Marketing</a></p>
        </div>

    </div>
</div>