<div class="sidebar col-md-2 col-sm-1 col-xs-2 no-margin">
    <div class="container-side-navi">
        <ul class="left-side-nav" style="padding:0px">
            <li class="">
                <a href="">Home</a>
          

            
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
</div>