@*<div class="sidebar col-md-3 no-margin">-------FOR CORRECT TABLE PAGE ---------*@
    @*<div class="sidebar col-md-3 col-sm-1 col-xs-2 no-margin nestedsidemenu">
        <ul class="nav nav-sidebar left-menu left">
            <li class="" id="navigation-index" style="border-radius: 20px 0px 0px 20px">
                <a href="~/User/Index" class="active">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/dashboard.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Dashboard</span>
                </a>
            </li>
            <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse1">

                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/user_tool.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">User Tools</span>
                </a>
                <div id="collapse1" class="accordion-body collapse inner-nav-main">
                    <ul class="nav nav-stacked submenu">
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/attandance.png"></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Attendance</span>

                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/quick_links.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Quick Links</span>
                            </a>
                        </li>
                        <li class="submenu-last">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/send_mail.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Send Email</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse2">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/automation.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Automations</span>
                </a>
                <div id="collapse2" class="accordion-body collapse inner-nav-main">
                    <ul class="nav nav-stacked submenu">
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/ebay_fetcher.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">eBay Order Fetcher</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/ebay_feedback.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">eBay Feedback</span>
                            </a>
                        </li>
                        <li class="submenu-last">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/ebay_message.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">eBay Message</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse3">

                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/orders.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Order</span>
                </a>
                <div id="collapse3" class="accordion-body collapse inner-nav-main">
                    <ul class="nav nav-stacked submenu">
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/add_order.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Add Order</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/search_order.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Search Order</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/print_order.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Print  Order</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/order_tracking.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Order Tracking</span>
                            </a>
                        </li>
                        <li class="submenu-last">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/waiting_order.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Waiting Orders</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
                <a href="~/Home/Epos">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/epos.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">EPOS System</span>
                </a>
            </li>
            <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse4">

                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/refund_return.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Refund &amp; Return</span>
                </a>
                <div id="collapse4" class="accordion-body collapse inner-nav-main">
                    <ul class="nav nav-stacked submenu">
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/rma.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">RMA Replacements </span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/data_report.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Data Reports</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/refund_queue.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Refund Queue</span>
                            </a>
                        </li>
                        <li class="submenu-last">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/detcted_customers.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Detected Customers</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>

            <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
                <a href="#">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/file_manager.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">File Manager</span>
                </a>
            </li>
            <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
                <a href="#">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/employee.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Employees</span>
                </a>
            </li>
            <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse5">

                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/admin.png" /></span>
                    <span class="hidden-sm hidden-xs span-texts">Admin</span>
                </a>
                <div id="collapse5" class="accordion-body collapse inner-nav-main">
                    <ul class="nav nav-stacked submenu">
                        <li class="inner-nav-li">
                            <a href="~/User/List">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/admin_menu.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Admin Menu </span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/accounting.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Accounting</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/user_managment.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">User Management</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/attandance.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Attendance Management</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/database_managment.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Data Management</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/log_explorer.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Log Explorer</span>
                            </a>
                        </li>
                        <li class="inner-nav-li">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/courier_service.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Courier Service</span>
                            </a>
                        </li>
                        <li class="submenu-last">
                            <a href="#">
                                <span class="box span-icons"><img class="img-sub-side-nav" src="~/img/side_navi_sub_icons/manage_location.png" /></span>
                                <span class="hidden-sm hidden-xs span-inner-texts">Manage Locations</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
                <a href="#">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/mail_marketing.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Email Marketing</span>
                </a>
            </li>
            <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
                <a href="#">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/installer.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Installer</span>
                </a>
            </li>
            <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
                <a href="~/Home/Login">
                    <span class="box span-icons"><img class="img-side-nav" src="~/img/side_navi_icons/logout.png"></span>
                    <span class="hidden-sm hidden-xs span-texts">Logout</span>
                </a>
            </li>
        </ul>
    </div>*@

<div class="side-navi-style">
    <div class="nestedsidemenu">
        <ul>
            <li>
                <a class="side-navi-new" href="~/User/Index"><img src="~/img/side_navi_icons/dashboard.png" class="img-side-nav" />Dashboard</a>
            </li>

            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/user_tool.png" class="img-side-nav" />User Tools</a>
                <ul>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/attandance.png" class="img-side-nav"/>Attendance</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/quick_links.png" class="img-side-nav"/>Quick Links</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/send_mail.png" class="img-side-nav"/>Send Email</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/company_messenger.png" class="img-side-nav" />Company Messenger</a></li>
                </ul>
            </li>

            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/automation.png" class="img-side-nav" />Automation</a>
                <ul>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/ebay_fetcher.png" class="img-side-nav"/>eBay Order Fetcher</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/ebay_feedback.png" class="img-side-nav"/>eBay Feedback</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/ebay_message.png" class="img-side-nav"/>eBay Message</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/website_order_fetcher.png" class="img-side-nav" />Website Order Fetcher</a></li>
                </ul>
            </li>


            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/orders.png" class="img-side-nav"/>Order</a>
                <ul>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/add_order.png" class="img-side-nav" />Add Order</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/search_order.png" class="img-side-nav" />Search Order</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/print_order.png" class="img-side-nav" />Print Order</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/order_tracking.png" class="img-side-nav" />Order Tracking</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/waiting_order.png" class="img-side-nav" />Waiting Order</a></li>
                </ul>
            </li>


            <li>
                <a class="side-navi-new" href="~/Home/Epos"><img src="~/img/side_navi_icons/epos.png" class="img-side-nav" />EPOS System</a>
                
            </li>

            <li>
                <a class ="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/refund_return.png" class="img-side-nav" />Refund &amp; Return</a>
                <ul>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/rma.png" class="img-side-nav"/>RMA Replacements</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/data_report.png" class="img-side-nav"/>Data Reports</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/refund_queue.png" class="img-side-nav"/>Refund Queue</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/detcted_customers.png" class="img-side-nav"/>Detected Customers</a></li>
                </ul>
            </li>

            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/file_manager.png" class="img-side-nav" />File Manager</a>
                
            </li>

            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/employee.png" class="img-side-nav" />Employees</a>
            </li>

            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/admin.png" class="img-side-nav" />Admin</a>
                <ul>
                    <li><a href="~/User/List"><img src="~/img/side_navi_sub_icons/admin_menu.png" class="img-side-nav"/>Admin Menu</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/accounting.png" class="img-side-nav"/>Accounting</a></li>
                    <li><a href="~/User/User_Management_Create"><img src="~/img/side_navi_sub_icons/user_managment.png" class="img-side-nav" />User Management</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/attendance_management.png" class="img-side-nav"/>Attendance Management</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/database_managment.png" class="img-side-nav"/>Database Management</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/log_explorer.png" class="img-side-nav"/>Log Explorer</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/courier_service.png" class="img-side-nav"/>Courier Service</a></li>
                    <li><a href="#"><img src="~/img/side_navi_sub_icons/manage_location.png" class="img-side-nav"/>Manage Locations</a></li>
                </ul>
            </li>

            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/mail_marketing.png" class="img-side-nav" />Email Marketing</a>
            </li>

            <li>
                <a class="side-navi-new" href="javascript:void(0);"><img src="~/img/side_navi_icons/installer.png" class="img-side-nav" />Installer</a>
            </li>

            <li>
                <a class="side-navi-new" href="~/Home"><img src="~/img/side_navi_icons/logout.png" class="img-side-nav" />Logout</a>
            </li>

        </ul>
        
    </div>

</div>
