<script>
</script>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="black">
        

        <div class="container-fluid">
            <div class="col-md-4">
                <a href="~/User"><img src="~/img/logo/esales_top.png"/></a>
            </div>

            <div class="toprightdivmedia">
                <p class=" pull-right mt-10">
                    <a id="user-popover" href="#" class="navbar-link font-15 user-info" data-original-title=""><span>Logged in as  : </span><i class="font-15"></i>@Session["username"]</a>
                    <br />
                    <a id="user-popover" href="#" class="navbar-link font-15 user-info" data-original-title=""><span class="font-15">Account name: </span><b>CCTV</b></a>

                    @*<i class="radmin-icon radmin-redo">Logout</i>*@
                </p>


                <ul class="navbar-search pull-right">
                    <li class="dropdown top-li-messages">
                        <a href=" #" class="dropdown-toggle linkhover" data-toggle="dropdown" aria-expanded="false">

                            <img src="~/img/images/cvv.png" />
                            <span class="visible-xs-inline-block">Messages</span>

                        </a>

                        <div class="dropdown-menu dropdown-content divmain div-messages">
                            <div class="dropdown-content-heading div-dropdown-messages">
                                Messages
                                @*<ul class="icons-list" style="list-style-type:none;">
                                <li><a href="#"><i class="radmin-icon radmin-user"></i></a></li>
                            </ul>*@
                            </div>

                            <ul class="media-list dropdown-content-body">
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/img/side_navi_sub_icons/admin_menu.png" class="img-circle img-sm" alt="">

                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">04:58</span>
                                        </a>
                                        <div class="clearfix"></div>

                                        <span class="text-muted">sample text sample text sample text sample text </span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/img/side_navi_sub_icons/admin_menu.png" class="img-circle img-sm" alt="">

                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">02:02</span>
                                        </a>
                                        <div class="clearfix"></div>

                                        <span class="text-muted">sample text sample text sample text sample text</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/img/side_navi_sub_icons/admin_menu.png" class="img-circle img-sm" alt="">

                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">12:50</span>
                                        </a>
                                        <div class="clearfix"></div>

                                        <span class="text-muted">sample text sample text sample text sample text</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/img/side_navi_sub_icons/admin_menu.png" class="img-circle img-sm" alt="">

                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">09:25</span>
                                        </a>
                                        <div class="clearfix"></div>

                                        <span class="text-muted">sample text sample text sample text sample text</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/img/side_navi_sub_icons/admin_menu.png" class="img-circle img-sm" alt="">

                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">06:00</span>
                                        </a>
                                        <div class="clearfix"></div>

                                        <span class="text-muted">sample text sample text sample text sample text</span>
                                    </div>
                                </li>
                            </ul>

                            <div class="dropdown-content-footer">
                                <a href="#" data-popup="tooltip" title="" data-original-title="All messages"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @*<div class="col-md-2"></div>

            <div class="col-md-6 col-xs-12">

                <form class="form-inline invoice-form" style="margin-top:13px;float:right">
                    
                    

                    <div class="form-group">
                        <label class="control-label" style="color: #fff; font-size: 18px; float: right; ">@Session["username"]</label>
                        <div class="clearfix"></div>

                        <label class="control-label" style="color: #a6a6a6; font-size: 15px; float: right; ">Cctvwl</label>

                    </div>
                    <div class="clearfix"></div>
                </form>

            </div>*@

        </div>
    
        </div>
</nav>