@model List<eSalesPro.Models.User>
<body id="body-index">
    <style>
        .hideDiv{
            display:none;
        }
        .showDiv{
            display:block;
        }
    </style>
   
    <div id="sticky-footer-wrap">


        @*-----------------Top Navigation Start---------------*@

        @{
            Html.RenderPartial("Top_Navigation_View");
        }

        @*-----------------Top Navigation End---------------*@

        <div class="container-fluid main-container">

            @*-----------------Side Navigation Start---------------*@
            <div class="row">
                @{
                    Html.RenderPartial("Side_Navigation_View");
                }
                @*-----------------Side Navigation End---------------*@



                @*-----------------Main Container Start---------------*@
                @*-----------------Main Container Start---------------*@

                <div class="user-page-height">
                    <div class="bggg-img user">

                        @*<h3 id="time_"></h3>*@
                        <div class="">
                            <div class="title" style="">
                                @*<img src="~/img/images/triangle.png"/>*@
                                <span style="margin-left:15px">User Access</span>
                            </div>

                            <div class="space">
                                <div class="">
                                    <h3><b>Choose user to modify:</b></h3>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <form id="demo-form2" action="~/User/User_Management_Create" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" style="margin-top:30px">

                                                <div class="form-group">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12" style="display:inline;">
                                                        <select name="categoryname" required class="form-control user-management-button ml-9">
                                                            <option value="">Please select any </option>
                                                            @foreach (var v in Model)
                                                            {
                                                                <option value="">@v.username</option>
                                                            }

                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <input type="button" onclick="javascript: showhide_EDIT('edit_user_div')" value="Edit User Settings" class="btn btn-primary btn-mini bold center-block user-management-button mr-9" />
                                                    </div>


                                                    <div class="col-md-3"></div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <a href="javascript:showhide_ADD('add_user_div')" class="btn bold btn-success btn-mini center-block user-management-button">Add New User</a>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="javascript:showhide_DELETE('delete_user_div')" class="btn btn-danger btn-mini center-block user-management-button bold">Delete Existing User</a>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="clearfix"></div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>



                                <hr class="hrr">

                                @*--------------------NEW USER DIV----------------*@

                                <div class="row hideDiv" id="add_user_div" >
                                    <h4 class="index-page-heading">User Personal Details</h4>

                                    <form id="demo-form2" action="~/User/User_Management_Create" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">



                                        <div class="col-md-12">
                                            <div class="col-md-1"></div>

                                                <div class="col-md-5">



                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Full Name <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="full_name" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Display Name <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="display_name" required>
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Address <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="address" required>
                                                            <input type="text" name="address1">
                                                            <input type="text" name="address2">
                                                            <input type="text" name="address3">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Postcode <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="postcode" required>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Phone <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="phone" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Emergency Contact Number <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="emergency_contact" required>
                                                        </div>
                                                    </div>




                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Username <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="username" placeholder="User Name" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Set New Password <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="password" name="password" required placeholder="Password">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="width-135" for="middle-name">Confirm Password <span class="required">*</span></label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="password" name="confirm_password" required placeholder="Confirm Password">
                                                        </div>
                                                    </div>







                                                </div>



                                                <div class="col-md-5 ml--30">




                                                    <div class="form-group">
                                                        <label class="width-94" for="middle-name">Pay Rate</label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="pay_rate">
                                                        </div>
                                                    </div>





                                                    <div class="form-group">
                                                        <label class="width-94" for="middle-name">Tax Code</label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="tax_code" required>
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label class="width-94" for="middle-name">NI Number</label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <input type="text" name="ni_number" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="width-94" for="">Notes</label>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <textarea class="width-193" name="notes" required></textarea>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        <div class="col-md-1"></div>


                                        <div class="col-md-12">
                                            <div class="col-md-3"></div>


                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <input type="submit" value="Save & Go to Permissions" class="bold btn btn-success btn-mini center-block width-200 user-permission-btn"/>
                                            </div>



                                        </div>

                                    </form>

                                </div>

                                @*--------------------NEW USER DIV ENDS----------------*@
                                



                                @*--------------------EDIT USER DIV----------------*@

                                <div class="row hideDiv" id="edit_user_div">
                                    <h4 class="index-page-heading">Edit User Personal Details</h4>

                                    <form id="demo-form2" action="~/User/User_Management_Create" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">



                                        <div class="col-md-12">
                                            <div class="col-md-1"></div>

                                            <div class="col-md-5">



                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Full Name <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="full_name" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Display Name <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="display_name" required>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Address <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="address" required>
                                                        <input type="text" name="address1">
                                                        <input type="text" name="address2">
                                                        <input type="text" name="address3">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Postcode <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="postcode" required>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Phone <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="phone" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Emergency Contact Number <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="emergency_contact" required>
                                                    </div>
                                                </div>




                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Username <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="username" placeholder="User Name" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Set New Password <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="password" name="password" required placeholder="Password">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="width-135" for="middle-name">Confirm Password <span class="required">*</span></label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="password" name="confirm_password" required placeholder="Confirm Password">
                                                    </div>
                                                </div>







                                            </div>



                                            <div class="col-md-5 ml--30">




                                                <div class="form-group">
                                                    <label class="width-94" for="middle-name">Pay Rate</label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="pay_rate">
                                                    </div>
                                                </div>





                                                <div class="form-group">
                                                    <label class="width-94" for="middle-name">Tax Code</label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="tax_code" required>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <label class="width-94" for="middle-name">NI Number</label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <input type="text" name="ni_number" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="width-94" for="">Notes</label>
                                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                                        <textarea class="width-193" name="notes" required></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-1"></div>


                                        <div class="col-md-12">
                                            <div class="col-md-3"></div>


                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <input type="submit" value="Save & Go to Permissions" class="bold btn btn-success btn-mini center-block width-200 user-permission-btn" />
                                            </div>



                                        </div>

                                    </form>

                                </div>

                                @*--------------------EDIT USER DIV ENDS----------------*@






                                

                            </div>
                        </div>

                    </div>

                </div>
                @*-----------------Main Container Ends---------------*@
            </div>
            <div id="sticky-footer-push"></div>
        </div>
    </div>

    <footer class="black">

        @{
            Html.RenderPartial("Footer_View");
        }
    </footer>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="background: linear-gradient(to bottom, #fafafd, #b2b2b3);">

                <div class="title">
                    <span style="margin-left:15px">Alert</span>
                    <img src="~/img/images/c3.png" class="close" data-dismiss="modal" />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="text-center" align="center">
                            <br>
                            <label class="control-label col-md-12" style="color: #000; margin-top: 15px">
                                Attendance logging for <span> @Session["username"]</span>
                            </label>

                            <div class="col-md-12">
                                <a href="" class="btn btn-success btn-mini center-block" style="margin-top:15px;">OK</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">


                </div>



            </div>
        </div>
    </div>


    <script>

        function showhide_ADD(id) {
            var e = document.getElementById(id);
            $("#edit_user_div").removeClass("showDiv");
            $("#edit_user_div").addClass("hideDiv");
            $("#add_user_div").addClass("showDiv");
 

        }

    </script>


    <script>

        function showhide_EDIT(id) {
            var e = document.getElementById(id);
            $("#add_user_div").removeClass("showDiv");
            $("#add_user_div").addClass("hideDiv");
            $("#edit_user_div").addClass("showDiv");
        }

    </script>
</body>