@model List<eSalesPro.Models.Purchase_Order>
<body id="body-index">
    <div id="sticky-footer-wrap">

        @*-----------------Top Navigation Start---------------*@

        @{
            Html.RenderPartial("Top_Navigation_View");
        }

        @*-----------------Top Navigation End---------------*@

        <div class="container-fluid main-container">

            @*-----------------Side Navigation Start---------------*@
            <div class="row">
                @{
                    Html.RenderPartial("Side_Navigation_View");
                }
                @*-----------------Side Navigation End---------------*@



                @*-----------------Main Container Start---------------*@
                <div class="user-page-height">
                    <div class="bggg-img">
                        <div>
                            


                            <div class="col-md-12">

                                <div class="col-md-4 pl-0">
                                    <h3 class="bold font-20">EPOS Report Purchase Order<small></small></h3>
                                </div>
                                <div class="pull-right col-md-8 mt-10 pr-0">

                                     <div class="pull-right">
                                        <input  required type="date" disabled id="to_date" oninput="poByDate();" class="date-width-height"  name="to_date">
                                    </div>

                                    <div class="pull-right">
                                        <label class="black-color mr-3 mt-5">To :</label>
                                    </div>
                                    <div class="pull-right">
                                        <input required type="date" id="from_date" oninput="showToDate()" class="date-width-height mr-3" name="from_date">
                                    </div>
                                    <div class="pull-right">
                                        <label class="black-color mr-3 mt-5">From :</label>
                                    </div>
                                    <div class="pull-right">
                                        <input type="text" onkeypress='validate(event)' onkeyup="poByNumber(this.value);" class="width_78_height text-center mr-7" placeholder="Number" name="stock_qty" id="login">
                                    </div>
                                    <div class="pull-right">
                                        <select name="sale_type" required="" onchange="poByPayStatus(this.value);" class="form-control">
                                            @foreach (var obj in ViewBag.payStatus)
                                            {
                                                <option value="@obj.Id">@obj.Status_Type</option>
                                            }
                                        </select>
                                        
                                    </div>
                                    <div class="pull-right">
                                        <select name="sale_type" onchange="poByPayPriority(this.value);" required="" class="form-control">
                                            @foreach (var obj in ViewBag.payPriority)
                                            {
                                                <option value="@obj.Id">@obj.Type</option>
                                            }
                                          
                                        </select>
                                    </div>
                                    
                                    






                                </div>

                                <div class="clearfix"></div>

                            </div>


                            <div class="clearfix"></div>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-12 mt-15">

                            <div class="col-md-3 pull-left padding-all-0">
                                <a href="~/Home/Epos" class="btn blue-btn-style btn-primary btn-mini bold">Back to EPOS Main Panel</a>
                            </div>

                            <div class="col-md-3"></div>
                            <div class="col-md-2 pull-right pr-0 mb-20">
                                <a href="#" class="btn btn-primary blue-btn-style btn-mini bold pull-right width-195">Print</a>
                            </div>

                            <div class="col-md-4 pull-right">
                            </div>

                            <div class="clearfix"></div>

                        </div>
                        

                        <div class="clearfix"></div>

                        <div class="empty-height"></div>
                        <div class="empty-height"></div>
                        <div class="empty-height"></div>


                        <div id="date_click_div" class="">

                            <div id="updatedDiv" class="col-md-12">
                                
                                <div class="clearfix"></div>

                                

                                

                            </div>

                            <div class="clearfix"></div>



                            <div class="clearfix"></div>



                            <div class="clearfix"></div>


                        </div>


                    </div>
                </div>
                @*-----------------Main Container Ends---------------*@
            </div>


            @*<div id="sticky-footer-push"></div>*@
        </div>
    </div>

    <footer class="black">

        @{
            Html.RenderPartial("Footer_View");
        }
    </footer>

    <script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/new-js/jquery.datatables.min.js"></script>


    <script>
        document.querySelector('#clickme').onclick = function () {
            swal({
                title: "ERROR",
                text: "Select the Customer",
                type: "warning",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Okay',
            },
            function () {
            });
        };
    </script>









    <script>
        function show_customer_summary() {
            $("#customer_summary").removeClass("none");
            $("#customer_summary").addClass("showDiv");
            $("#date_click_div").addClass("none");
        }
    </script>

    <script>
        function showDateDiv() {
            var to = document.getElementById("to_date").value;
            $("#date_click_div").removeClass("none");
            $("#date_click_div").addClass("showDiv");
            $("#customer_summary").addClass("none");
        }


    </script>

    <script>
        function showToDate() {
            var from = document.getElementById("from_date").value;

            if (from == "") {
            }

            else {
                document.getElementById("to_date").removeAttribute('disabled');
            }
        }


    </script>


    <script>

        function myDate() {
            var date = new Date(document.getElementById("to_date")).toDateString("yyyy-MM-dd");
        }

    </script>





    <script>
        $(document).ready(function () {
            $('#example').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#example1').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#table_on_dates').dataTable();
        });
    </script>

    <script>
        function PrintBtn() {
            $("#crud_btn_hide").addClass("none");
            $("#side_navi_hide").addClass("none");

            window.print();
        }
    </script>

    <script>

        function poByPayPriority(id) {
       
            $.ajax({

                url: '/Report/purchaseReportByPayPriority/',
                data: { id: id },
                cache: false,
                type: 'Post',
                success: function (data) {
                  
                    document.getElementById('updatedDiv').innerHTML =data;
                },
                error: function (response) {

                }


            })
        }

        function poByPayStatus(id) {
       

            $.ajax({

                url: '/Report/purchaseReportByPayStatus/',
                data: { id: id },
                cache: false,
                type: 'Post',
                success: function (data) {
                    document.getElementById('updatedDiv').innerHTML = data;
                },
                error: function (response) {

                }


            })


        }

        function poByNumber(id) {
     

            $.ajax({

                url: '/Report/purchaseReportByNumber/',
                data: { id: id },
                cache: false,
                type: 'Post',
                success: function (data) {
                    document.getElementById('updatedDiv').innerHTML = data;
                },
                error: function (response) {

                }


            })

        }

        function poByDate()
        {
         

            var to = document.getElementById('to_date').value;
            var from = document.getElementById('from_date').value;

            $.ajax({

                url: '/Report/purchaseReportByDate/',
                data: { fromDate: from , toDate : to },
                cache: false,
                type: 'Post',
                success: function (data) {
                    document.getElementById('updatedDiv').innerHTML = data;
                },
                error: function (response) {

                }


            })

        }



















    </script>

</body>