<body id="body-index">
    <div id="sticky-footer-wrap">

        @*-----------------Top Navigation Start---------------*@

        @{
            Html.RenderPartial("Top_Navigation_View");
        }

        @*-----------------Top Navigation End---------------*@

        <div class="container-fluid main-container">

            @*-----------------Side Navigation Start---------------*@
            <div class="row">
                @{
                    Html.RenderPartial("Side_Navigation_View");
                }
                @*-----------------Side Navigation End---------------*@



                @*-----------------Main Container Start---------------*@
                <div class="user-page-height">
                    <div class="bggg-img">
                        <div>

                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <p class="bold update-stock-margin font-20">EPOS Report Manager<small></small></p>
                                </div>
                                <div class="col-md-9 mt-10">

                                    <div class="pull-left">
                                        <input type="text" onkeypress='validate(event)' class="width-78 text-center mr-7" placeholder="User..." name="stock_qty" id="login">
                                    </div>

                                    <div class="pull-left">
                                        <input type="text" onkeypress='validate(event)' class="width-78 text-center mr-7" placeholder="Serial no..." name="stock_qty" id="login">
                                    </div>

                                    <div class="pull-left">
                                        <input type="text" onkeypress='validate(event)' class="width-78 text-center mr-7" placeholder="Sales no..." name="stock_qty" id="login">
                                    </div>
                                    <div class="pull-left">
                                        <input type="text" onkeypress='validate(event)' class="width-78 text-center mr-7" placeholder="All Type" name="stock_qty" id="login">
                                    </div>
                                    <div class="pull-left">
                                        <input type="text" onkeypress='validate(event)' class="width-78 text-center mr-7" placeholder="All Status" name="stock_qty" id="login">
                                    </div>
                                    <div class="pull-left">
                                        <label class="black-color mr-3 mt-2">From :</label>
                                    </div>
                                    <div class="pull-left">
                                        <input required type="date" id="from_date" oninput="showToDate()" class="date-width-height mr-3" name="from_date">
                                    </div>
                                    <div class="pull-left">
                                        <label class="black-color mr-3 mt-2">To :</label>
                                    </div>
                                    <div class="pull-left">
                                        <input required type="date" disabled id="to_date" oninput="showDateDiv()" class="date-width-height" name="to_date">
                                    </div>






                                </div>

                                <div class="clearfix"></div>

                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-12 mt-15">

                            <div class="col-md-3 pull-left mb-20">
                                <a href="~/Home/Epos" class="btn btn-primary blue-btn-style btn-mini bold ml--20">Back to EPOS Main Panel</a>
                            </div>

                            <div class="col-md-3"></div>

                            <div class="col-md-3 pull-right mb-20">
                                <a href="#" data-toggle="modal" data-target="#customer_modal" class="btn btn-primary blue-btn-style btn-mini bold ml-75">Customer Summary</a>
                            </div>

                            <div class="col-md-3 pull-right">
                                <a href="~/Home/Epos" onclick="PrintBtn()" class="btn btn-primary blue-btn-style btn-mini bold width-150 ml-160">Print</a>
                            </div>

                            <div class="clearfix"></div>

                        </div>


                        <div class="clearfix"></div>

                        <div id="customer_summary" class="none">

                            <div class="col-md-12">
                                <h4 class="pull-left bold black-color">Customer Summary</h4>
                            </div>

                            <div class="">

                                <div class="col-md-12">


                                    <table class="black-color col-md-3 pull-left">
                                        <tr>
                                            <th class="width-90 font-16">Name</th>
                                            <td>Bill Gates</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Phone</th>
                                            <td>+125577854</td>
                                        </tr>

                                        <tr>
                                            <th class="width-90 font-16">Email</th>
                                            <td>cctv@yahoo.com</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Type</th>
                                            <td>Normal Customer</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Notes</th>
                                            <td>No Notes</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Credit Limit</th>
                                            <td>£99</td>
                                        </tr>

                                    </table>

                                    <div class="col-md-3">
                                        <label class="bold black-color font-16">Billing Address:</label><br />
                                        <p class="black-color">185 Rochdale Lancashire England OL12ODR</p>
                                    </div>

                                    <div class="col-md-3 border_black text-center">
                                        <label class="bold red mt-5 font-16">Available Credit Balance</label><br />
                                        <label class="bold black-color font-16">£122</label><br />
                                        <a href="#" data-toggle="modal" data-target="#" class="btn mb-10 btn-primary blue-btn-style btn-mini bold">View Payment Status</a>
                                    </div>

                                    <div class="col-md-3"></div>

                                </div>



                                <div id="crud_btn_hide" class="col-md-12 mt-15">

                                    <div class="col-md-2 pull-left">
                                        <a href="~/Home/Epos" class="btn btn-primary blue-btn-style btn-mini ml--20 bold width-150">Edit Customer</a>
                                    </div>

                                    <div class="col-md-2 pull-left">
                                        <a href="~/Home/Epos" class="btn btn-primary blue-btn-style btn-mini ml--20 bold width-150">Delete Customer</a>
                                    </div>

                                    <div class="col-md-2 pull-left">
                                        <a href="#" class="btn btn-primary ml--20 blue-btn-style btn-mini bold">Set Custom Prices</a>
                                    </div>

                                    <div class="col-md-2 pull-left">
                                        <a href="~/Home/Epos" class="btn ml--20 btn-primary blue-btn-style btn-mini bold width-150">New Sale</a>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>

                                <div class="clearfix"></div>

                                <div class="col-md-12">
                                    <p class="bold font-20 mt-30 black-color">Customer Invoices<small></small></p>
                                </div>
                                <div class="col-md-12">
                                    <table border="0" class="table table-responsive border_black" id="example1">
                                        <thead>
                                            <tr class="table-heading-fonts table-main-headings">
                                                <th>Order Id</th>
                                                <th>Payment Type</th>
                                                <th>Status</th>
                                                <th>Net</th>
                                                <th>VAT</th>
                                                <th>Gross</th>

                                                <th>Date</th>


                                            </tr>
                                        </thead>
                                        <tbody class="black-color bold">

                                            @*@foreach (var v in Model)
            {*@
                                            @*<tr data-toggle="modal" data-target="#EditModal">*@



                                            <tr>
                                                <td data-title="User ID">Order-110</td>
                                                <td data-title="User ID">Paypal</td>
                                                <td data-title="User ID">Done</td>
                                                <td data-title="User ID">£123</td>
                                                <td data-title="User ID">£123</td>
                                                <td data-title="User ID">£246</td>
                                                <td data-title="User ID">1-1-2017</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">Order-80</td>
                                                <td data-title="User ID">Cash</td>
                                                <td data-title="User ID">Partially Paid</td>
                                                <td data-title="User ID">£1</td>
                                                <td data-title="User ID">£12</td>
                                                <td data-title="User ID">£13</td>
                                                <td data-title="User ID">05-07-2017</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">Order-007</td>
                                                <td data-title="User ID">Bank Transfer</td>
                                                <td data-title="User ID">Done</td>
                                                <td data-title="User ID">£2000</td>
                                                <td data-title="User ID">£8000</td>
                                                <td data-title="User ID">£10000</td>
                                                <td data-title="User ID">07-07-2010</td>
                                            </tr>






                                            @*}*@
                                        </tbody>

                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-md-12">
                                    <p class="bold font-20 mt-30 black-color">Item History<small></small></p>
                                </div>



                                <div class="col-md-12">
                                    <table border="0" class="table table-responsive border_black" id="example">
                                        <thead>
                                            <tr class="table-heading-fonts table-main-headings">
                                                <th>Date</th>
                                                <th>SKU</th>
                                                <th>Quantity</th>
                                                <th>Item Price</th>
                                                <th>VAT</th>
                                                <th>VAT+Item Price</th>


                                            </tr>
                                        </thead>
                                        <tbody class="black-color bold">


                                            <tr>
                                                <td data-title="User ID">07-07-2007</td>
                                                <td data-title="User ID">SKU-1111</td>
                                                <td data-title="User ID">1000</td>
                                                <td data-title="User ID">£10</td>
                                                <td data-title="User ID">£2</td>
                                                <td data-title="User ID">£12</td>

                                            </tr>


                                        </tbody>

                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="clearfix"></div>

                            </div>
                        </div>

                        <div id="date_click_div" class="none">

                            <div class="col-md-12">
                                <table border="0" class="table table-responsive border_black" id="table_on_dates">
                                    <thead>
                                        <tr class="table-heading-fonts table-main-headings">
                                            <th>Order Id</th>
                                            <th>Customer</th>
                                            <th>Payment Type</th>
                                            <th>Status</th>
                                            <th>Net</th>
                                            <th>VAT</th>
                                            <th>Gross</th>
                                            <th>Date</th>


                                        </tr>
                                    </thead>
                                    <tbody class="black-color bold">

                                        @*@foreach (var v in Model)
                                            {*@
                                        @*<tr data-toggle="modal" data-target="#EditModal">*@


                                        <tr>
                                            <td data-title="User ID">Order-80</td>
                                            <td data-title="User ID">Cash</td>
                                            <td data-title="User ID">Partially Paid</td>
                                            <td data-title="User ID">Active</td>
                                            <td data-title="User ID">£1</td>
                                            <td data-title="User ID">£12</td>
                                            <td data-title="User ID">£13</td>
                                            <td data-title="User ID">05-07-2017</td>
                                        </tr>

                                     




                                        @*}*@
                                    </tbody>

                                </table>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-md-12 mt-15">
                                @*<section id="no-more-tables">*@

                                <div class="col-md-1"></div>

                                <div class="col-md-5 pull-left">

                                    <table id="table_cash_flow" class="black-color border_black">
                                        <tr>
                                            <th class="">Cash flow this period (before refunds)</th>
                                            <td class=""></td>
                                        </tr>


                                        <tr>
                                            <th class="">Cash</th>
                                            <td>£114.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Credit</th>
                                            <td>£100.00</td>
                                        </tr>

                                        <tr>
                                            <th class="">PayPal</th>
                                            <td>£54.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Bank Transfer</th>
                                            <td>£2000.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Gross</th>
                                            <td>£99.00</td>
                                        </tr>
                                    </table>
                                </div>



                                <div class="col-md-5 pull-left">

                                    <table id="table_cash_flow" class="black-color border_black">
                                        <tr>
                                            <th class="">Cash flow this period (after refunds)</th>
                                            <td class=""></td>
                                        </tr>


                                        <tr>
                                            <th class="">Cash</th>
                                            <td>£72.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Credit</th>
                                            <td>£220.00</td>
                                        </tr>

                                        <tr>
                                            <th class="">PayPal</th>
                                            <td>£175.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Bank Transfer</th>
                                            <td>£999.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Gross</th>
                                            <td>£456.00</td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="col-md-1"></div>




                            </div>

                            <div class="clearfix"></div>

                            <div class="col-md-12 mt-15">


                                <div class="col-md-1"></div>

                                <div class="col-md-5 pull-left">

                                    <table id="table_cash_flow" class="black-color border_black">
                                        <tr>
                                            <th class="">Total takings this Period</th>
                                            <td class=""></td>
                                        </tr>


                                        <tr>
                                            <th class="">Invoices</th>
                                            <td>£34.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Item Sale</th>
                                            <td>£98.00</td>
                                        </tr>

                                        <tr>
                                            <th class="">Net</th>
                                            <td>£321.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">VAT</th>
                                            <td>£120.00</td>
                                        </tr>
                                        <tr>
                                            <th class="">Gross</th>
                                            <td>£65.00</td>
                                        </tr>

                                        <tr>
                                            <th class="">Due</th>
                                            <td>£10.00</td>
                                        </tr>

                                    </table>
                                </div>


                                <div class="col-md-5 pull-left">

                                    <table id="table_cash_flow" class="black-color border_black">
                                        <tr>
                                            <th class="">Refunds this period</th>
                                            <td class=""></td>
                                        </tr>


                                        <tr>
                                            <th class="">Cash</th>
                                            <td>£934.00</td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="col-md-1"></div>

                            </div>

                            <div class="clearfix"></div>


                        </div>


                    </div>
                </div>
                @*-----------------Main Container Ends---------------*@
            </div>


            @*<div id="sticky-footer-push"></div>*@
        </div>
    </div>

    <footer class="black">

        @{
            Html.RenderPartial("Footer_View");
        }
    </footer>


    @*----------------------------POP UP for CUSTOMER SUMMARY--------------------------------*@

    <div class="modal fade" id="customer_modal" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content modal-style-custom">

                <div class="title col-md-12">
                    <span>Message</span>
                    <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="win text-center">
                            <h3 class="black-color"><b>Find Customer</b></h3>

                            <form id="demo-form2" action="#" method="post" data-parsley-validate class="form-horizontal form-label-left mt-30" enctype="multipart/form-data">

                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="">
                                            <div class="pull-left">
                                                <input type="text" name="customer" class="width-320">
                                                <a href="~/Report/SaleReport" class="btn-primary btn-mini center-block btn-existing-supplier-cancel" style="">Cancel</a>
                                                <input data-dismiss="modal" onclick="show_customer_summary()" type="button" class="btn-success btn-mini center-block btn-existing-supplier-search" value="Search" />

                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                    </div>

                                </div>
                            </form>


                        </div>


                    </div>
                </div>

                <div class="modal-footer"></div>

            </div>
        </div>
    </div>

    @*----------------------------POP UP END CUSTOMER SUMMARY--------------------------------*@

    <script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/new-js/jquery.datatables.min.js"></script>

    <script>
        function show_customer_summary() {
            $("#customer_summary").removeClass("none");
            $("#customer_summary").addClass("showDiv");
            $("#date_click_div").addClass("none");
        }
    </script>

    <script>
        function showDateDiv() {
            var to = document.getElementById("to_date").value;
            $("#date_click_div").removeClass("none");
            $("#date_click_div").addClass("showDiv");
            $("#customer_summary").addClass("none");
        }


    </script>

    <script>
        function showToDate() {
            var from = document.getElementById("from_date").value;

            if (from == "") {
            }

            else {
                document.getElementById("to_date").removeAttribute('disabled');
            }
        }


    </script>


    <script>

        function myDate() {
            var date = new Date(document.getElementById("to_date")).toDateString("yyyy-MM-dd");
        }

    </script>





    <script>
        $(document).ready(function () {
            $('#example').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#example1').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#table_on_dates').dataTable();
        });
    </script>

    <script>
        function PrintBtn() {
            $("#crud_btn_hide").addClass("none");
            $("#side_navi_hide").addClass("none");

            window.print();
        }
    </script>

</body>