<body id="body-index">
    <div id="sticky-footer-wrap">

        @*-----------------Top Navigation Start---------------*@

        @{
            Html.RenderPartial("Top_Navigation_View");
        }

        @*-----------------Top Navigation End---------------*@

        <div class="container-fluid main-container">

            @*-----------------Side Navigation Start---------------*@
            <div class="row">
                @{
                    Html.RenderPartial("Side_Navigation_View");
                }
                @*-----------------Side Navigation End---------------*@



                @*-----------------Main Container Start---------------*@
                <div class="user-page-height">
                    <div class="bggg-img">
                        <div>

                            <div class="col-md-12">

                                @*<div class="col-md-4">
                                    <h3 class="bold update-stock-margin"><small></small></h3>
                                </div>*@

                                <div class="pull-left">
                                    <a href="~/Home/Epos" class="btn btn-primary mt-10 btn-mini bold">Back to EPOS Main Panel</a>
                                </div>


                                <div class="mt-10">
                                    <div class="col-md-2 pull-right">
                                        <a href="~/Home/Epos" class="btn btn-primary ml--45 btn-mini text-center width-195 bold">Print</a>
                                    </div>

                                    <div class="col-md-2 pull-right">
                                    </div>

                                    <div class="col-md-2 pull-right">
                                    </div>

                                    <div class="col-md-2 pull-right">
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="mt-30">
                                <div class="col-md-3 pull-left">
                                    <h4 class="black-color bold">Choose Customer type : </h4>
                                </div>
                                <div class="col-md-3 ml--40 pull-left">
                                    <select oninput="show_customer_type()" name="supplier_name" required class="form-control">
                                        <option value="">Please select any </option>
                                        <option value="">Normal Price</option>
                                        <option value="">Trade Price</option>
                                        <option value="">Premium Price</option>
                                        <option value="">Other Price</option>
                                    </select>

                                </div>

                                <div class="col-md-3 pull-right mb-20">
                                    @*<a href="#" data-toggle="modal" data-target="#customer_modal" class="btn btn-primary btn-mini bold ml-75">Customer Summary</a>*@
                                    <a href="#" data-toggle="modal" data-target="#customer_modal" class="btn btn-primary ml-30 btn-mini text-center width-195 bold">Customer Summary</a>
                                </div>

                                <div class="col-md-3"></div>
                            </div>
                            
                            
                            <div class="clearfix"></div>

                        </div>

                        <div class="clearfix"></div>

                    





                        <div class="col-md-12 mt-20 none" id="customer_table_div">

                            <table class="table table-responsive border_black" id="customer_list_table">
                                <thead>
                                    <tr class="table-heading-fonts table-main-headings">
                                        <th>ID</th>
                                        <th>Salesman</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Postcode</th>

                                        <th>Status</th>

                                        @*<th>Pay Rate</th>
                    <th>Role</th>
                    <th>Status</th>*@

                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="black-color bold">

                                    @*<tr data-toggle="modal" data-target="#EditModal">*@

                                    <tr>
                                        <td data-title="User ID">Id</td>
                                        <td data-title="User ID">Name</td>
                                        <td data-title="First Name">Phone</td>
                                        <td data-title="Last Name">Email</td>
                                        <td data-title="Email" class="user-emails">Address</td>
                                        <td data-title="Date Registered">Postcode</td>

                                        <td class="gg">Active</td>

                                        <td data-title="Actions" class="text-center min-width-191 buttons-block">
                                            <a class="btn btn-sm btn-info bold" href="" data-toggle="modal" data-target="#EditModal">
                                                Edit
                                            </a>
                                            <a class="btn btn-sm btn-success bold" href="#">
                                                Enable
                                            </a>
                                            <a class="btn btn-sm btn-danger bold" href="#">
                                                Disable
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="clearfix"></div>

                        </div>

                        <div class="clearfix"></div>

                        <div id="customer_summary" class="none">

                            <div class="col-md-12">
                                <h4 class="pull-left bold black-color">Customer Summary</h4>
                            </div>

                            <div class="">

                                <div class="col-md-12">


                                    <table class="black-color col-md-3 pull-left">
                                        <tr>
                                            <th class="width-90 font-16">Name</th>
                                            <td>Bill Gates</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Phone</th>
                                            <td>+125577854</td>
                                        </tr>

                                        <tr>
                                            <th class="width-90 font-16">Email</th>
                                            <td>cctv@yahoo.com</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Type</th>
                                            <td>Normal Customer</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Notes</th>
                                            <td>No Notes</td>
                                        </tr>
                                        <tr>
                                            <th class="width-90 font-16">Credit Limit</th>
                                            <td>£99</td>
                                        </tr>

                                    </table>

                                    <div class="col-md-3">
                                        <label class="bold black-color font-16">Billing Address:</label><br />
                                        <p class="black-color">185 Rochdale Lancashire England OL12ODR</p>
                                    </div>

                                    <div class="col-md-3 border_black text-center">
                                        <label class="bold red mt-5 font-16">Available Credit Balance</label><br />
                                        <label class="bold black-color font-16">£122</label><br />
                                        <a href="#" data-toggle="modal" data-target="#" class="btn mb-10 btn-primary btn-mini bold">View Payment Status</a>
                                    </div>

                                    <div class="col-md-3"></div>

                                </div>



                                <div class="col-md-12 mt-15">

                                    <div class="col-md-2 pull-left">
                                        <a href="~/Home/Epos" class="btn btn-primary btn-mini ml--20 bold width-150">Edit Customer</a>
                                    </div>

                                    <div class="col-md-2 pull-left">
                                        <a href="~/Home/Epos" class="btn btn-primary btn-mini ml--20 bold width-150">Delete Customer</a>
                                    </div>

                                    <div class="col-md-2 pull-left">
                                        <a href="#" class="btn btn-primary ml--20 btn-mini bold">Set Custom Prices</a>
                                    </div>

                                    <div class="col-md-2 pull-left">
                                        <a href="~/Home/Epos" class="btn ml--20 btn-primary btn-mini bold width-150">New Sale</a>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>

                                <div class="clearfix"></div>

                                <div class="col-md-12">
                                    <p class="bold font-20 mt-30 black-color">Customer Invoices<small></small></p>
                                </div>
                                <div class="col-md-12">
                                    <table border="0" class="table table-responsive border_black" id="customer_invoices_table">
                                        <thead>
                                            <tr class="table-heading-fonts table-main-headings">
                                                <th>Order Id</th>
                                                <th>Payment Type</th>
                                                <th>Status</th>
                                                <th>Net</th>
                                                <th>VAT</th>
                                                <th>Gross</th>

                                                <th>Date</th>


                                            </tr>
                                        </thead>
                                        <tbody class="black-color bold">

                                            @*@foreach (var v in Model)
                            {*@
                                            @*<tr data-toggle="modal" data-target="#EditModal">*@



                                            <tr>
                                                <td data-title="User ID">Order Id</td>
                                                <td data-title="User ID">Payment Type</td>
                                                <td data-title="User ID">Status</td>
                                                <td data-title="User ID">Net</td>
                                                <td data-title="User ID">VAT</td>
                                                <td data-title="User ID">Gross</td>
                                                <td data-title="User ID">Date</td>
                                            </tr>



                                            <tr>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">1</td>
                                                <td data-title="User ID">76</td>
                                                <td data-title="User ID">7887</td>
                                                <td data-title="User ID">7867</td>
                                                <td data-title="User ID">4564</td>
                                                <td data-title="User ID">54345</td>
                                                <td data-title="User ID">453</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">dfg</td>
                                                <td data-title="User ID">as</td>
                                                <td data-title="User ID">asa</td>
                                                <td data-title="User ID">asfd</td>
                                                <td data-title="User ID">ass</td>
                                                <td data-title="User ID">dfs</td>
                                                <td data-title="User ID">dsfsd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">ngf</td>
                                                <td data-title="User ID">fgrf</td>
                                                <td data-title="User ID">wert</td>
                                                <td data-title="User ID">435</td>
                                                <td data-title="User ID">fgdfs</td>
                                                <td data-title="User ID">234</td>
                                                <td data-title="User ID">bfd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">Order Id</td>
                                                <td data-title="User ID">Payment Type</td>
                                                <td data-title="User ID">Status</td>
                                                <td data-title="User ID">Net</td>
                                                <td data-title="User ID">VAT</td>
                                                <td data-title="User ID">Gross</td>
                                                <td data-title="User ID">Date</td>
                                            </tr>



                                            <tr>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">1</td>
                                                <td data-title="User ID">76</td>
                                                <td data-title="User ID">7887</td>
                                                <td data-title="User ID">7867</td>
                                                <td data-title="User ID">4564</td>
                                                <td data-title="User ID">54345</td>
                                                <td data-title="User ID">453</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">dfg</td>
                                                <td data-title="User ID">as</td>
                                                <td data-title="User ID">asa</td>
                                                <td data-title="User ID">asfd</td>
                                                <td data-title="User ID">ass</td>
                                                <td data-title="User ID">dfs</td>
                                                <td data-title="User ID">dsfsd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">ngf</td>
                                                <td data-title="User ID">fgrf</td>
                                                <td data-title="User ID">wert</td>
                                                <td data-title="User ID">435</td>
                                                <td data-title="User ID">fgdfs</td>
                                                <td data-title="User ID">234</td>
                                                <td data-title="User ID">bfd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">Order Id</td>
                                                <td data-title="User ID">Payment Type</td>
                                                <td data-title="User ID">Status</td>
                                                <td data-title="User ID">Net</td>
                                                <td data-title="User ID">VAT</td>
                                                <td data-title="User ID">Gross</td>
                                                <td data-title="User ID">Date</td>
                                            </tr>



                                            <tr>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">1</td>
                                                <td data-title="User ID">76</td>
                                                <td data-title="User ID">7887</td>
                                                <td data-title="User ID">7867</td>
                                                <td data-title="User ID">4564</td>
                                                <td data-title="User ID">54345</td>
                                                <td data-title="User ID">453</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">dfg</td>
                                                <td data-title="User ID">as</td>
                                                <td data-title="User ID">asa</td>
                                                <td data-title="User ID">asfd</td>
                                                <td data-title="User ID">ass</td>
                                                <td data-title="User ID">dfs</td>
                                                <td data-title="User ID">dsfsd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">ngf</td>
                                                <td data-title="User ID">fgrf</td>
                                                <td data-title="User ID">wert</td>
                                                <td data-title="User ID">435</td>
                                                <td data-title="User ID">fgdfs</td>
                                                <td data-title="User ID">234</td>
                                                <td data-title="User ID">bfd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">Order Id</td>
                                                <td data-title="User ID">Payment Type</td>
                                                <td data-title="User ID">Status</td>
                                                <td data-title="User ID">Net</td>
                                                <td data-title="User ID">VAT</td>
                                                <td data-title="User ID">Gross</td>
                                                <td data-title="User ID">Date</td>
                                            </tr>



                                            <tr>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">1</td>
                                                <td data-title="User ID">76</td>
                                                <td data-title="User ID">7887</td>
                                                <td data-title="User ID">7867</td>
                                                <td data-title="User ID">4564</td>
                                                <td data-title="User ID">54345</td>
                                                <td data-title="User ID">453</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">dfg</td>
                                                <td data-title="User ID">as</td>
                                                <td data-title="User ID">asa</td>
                                                <td data-title="User ID">asfd</td>
                                                <td data-title="User ID">ass</td>
                                                <td data-title="User ID">dfs</td>
                                                <td data-title="User ID">dsfsd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">ngf</td>
                                                <td data-title="User ID">fgrf</td>
                                                <td data-title="User ID">wert</td>
                                                <td data-title="User ID">435</td>
                                                <td data-title="User ID">fgdfs</td>
                                                <td data-title="User ID">234</td>
                                                <td data-title="User ID">bfd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">Order Id</td>
                                                <td data-title="User ID">Payment Type</td>
                                                <td data-title="User ID">Status</td>
                                                <td data-title="User ID">Net</td>
                                                <td data-title="User ID">VAT</td>
                                                <td data-title="User ID">Gross</td>
                                                <td data-title="User ID">Date</td>
                                            </tr>



                                            <tr>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">1</td>
                                                <td data-title="User ID">76</td>
                                                <td data-title="User ID">7887</td>
                                                <td data-title="User ID">7867</td>
                                                <td data-title="User ID">4564</td>
                                                <td data-title="User ID">54345</td>
                                                <td data-title="User ID">453</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">dfg</td>
                                                <td data-title="User ID">as</td>
                                                <td data-title="User ID">asa</td>
                                                <td data-title="User ID">asfd</td>
                                                <td data-title="User ID">ass</td>
                                                <td data-title="User ID">dfs</td>
                                                <td data-title="User ID">dsfsd</td>
                                            </tr>


                                            <tr>
                                                <td data-title="User ID">ngf</td>
                                                <td data-title="User ID">fgrf</td>
                                                <td data-title="User ID">wert</td>
                                                <td data-title="User ID">435</td>
                                                <td data-title="User ID">fgdfs</td>
                                                <td data-title="User ID">234</td>
                                                <td data-title="User ID">bfd</td>
                                            </tr>






                                            @*}*@
                                        </tbody>

                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-md-12">
                                    <p class="bold font-20 mt-30 black-color">Item History<small></small></p>
                                </div>



                                <div class="col-md-12">
                                    <table border="0" class="table table-responsive border_black" id="item_history_table">
                                        <thead>
                                            <tr class="table-heading-fonts table-main-headings">
                                                <th>Date</th>
                                                <th>SKU</th>
                                                <th>Quantity</th>
                                                <th>Item Price</th>
                                                <th>VAT</th>
                                                <th>VAT+Item Price</th>


                                            </tr>
                                        </thead>
                                        <tbody class="black-color bold">

                                            <tr>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>
                                                <td data-title="User ID">Salesman</td>

                                            </tr>


                                        </tbody>

                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="clearfix"></div>

                            </div>
                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
                @*-----------------Main Container Ends---------------*@
            </div>


            <div id="sticky-footer-push"></div>
        </div>
    </div>

    <footer class="black">

        @{
            Html.RenderPartial("Footer_View");
        }
    </footer>


    @*----------------------------POP UP for CUSTOMER SUMMARY--------------------------------*@

    <div class="modal fade" id="customer_modal" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content modal-style-custom">

                <div class="title col-md-12">
                    <span>Message</span>
                    <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="win text-center">
                            <h3 class="black-color"><b>Find Customer</b></h3>

                            <form id="demo-form2" action="#" method="post" data-parsley-validate class="form-horizontal form-label-left mt-30" enctype="multipart/form-data">

                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="">
                                            <div class="pull-left">
                                                <input type="text" name="customer" class="width-320">
                                                <a href="~/Report/SaleReport" class="btn-primary btn-mini center-block btn-existing-supplier-cancel" style="">Cancel</a>
                                                <input data-dismiss="modal" onclick="show_customer_summary()" type="button" class="btn-success btn-mini center-block btn-existing-supplier-search" value="Search" />

                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                    </div>

                                </div>
                            </form>


                        </div>


                    </div>
                </div>

                <div class="modal-footer"></div>

            </div>
        </div>
    </div>

    @*----------------------------POP UP END CUSTOMER SUMMARY--------------------------------*@


    <script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/new-js/jquery.datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#customer_list_table').dataTable();
        });
    </script>

    <script>
        function show_customer_summary() {
            $("#customer_summary").removeClass("none");
            $("#customer_summary").addClass("showDiv");
            $("#customer_table_div").addClass("none");
        }
    </script>

    <script>
        function show_customer_type() {
            $("#customer_table_div").removeClass("none");
            $("#customer_table_div").addClass("showDiv");
            $("#customer_summary").addClass("none");
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#customer_invoices_table').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#item_history_table').dataTable();
        });
    </script>

    

</body>