<body id="body-index">
    <div id="sticky-footer-wrap">

        @*-----------------Top Navigation Start---------------*@

        @{
            Html.RenderPartial("Top_Navigation_View");
        }

        @*-----------------Top Navigation End---------------*@

        <div class="container-fluid main-container">

            @*-----------------Side Navigation Start---------------*@
            <div class="row">
                @{
                    Html.RenderPartial("Side_Navigation_View");
                }
                @*-----------------Side Navigation End---------------*@



                @*-----------------Main Container Start---------------*@
                <div class="user-page-height">
                    <div class="bggg-img">
                        <div>

                            <div class="col-md-12">

                                <div class="col-md-4">
                                    <h3 class="bold update-stock-margin">Low Stocks<small></small></h3>
                                </div>
                                <div class="mt-10 ml-99">
                                    <div class="col-md-2 pull-right">
                                        <a href="~/Home/Epos" class="btn btn-primary blue-btn-style ml--72 btn-mini text-center width-208 bold">Print</a>
                                    </div>

                                    <div class="col-md-2 pull-right">
                                    </div>

                                    <div class="col-md-2 pull-right">
                                    </div>

                                    <div class="col-md-2 pull-right">
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-12">

                            <div class="col-md-3 pull-left">
                                <a href="~/Home/Epos" class="btn btn-primary btn-mini blue-btn-style supplier-epos-btn bold">Back to EPOS Main Panel</a>
                            </div>

                            <div class="col-md-3 pull-left">
                                <a href="#" data-toggle="modal" class="btn btn-primary blue-btn-style btn-mini width-200 ml--50 product-import-btn bold">Add to Purchase Order</a>

                            </div>


                            @*------------CUSTOM SEARCH BAR------------
                                <div class="col-md-4 search-filter-div">
                                <label class="supplier-create-texts ml-22" for="middle-name">Search Filter</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" class="ml--95 width-208" name="postcode" id="postcode">
                                <a href="#"><img class="search-btn-product" src="~/img/images/ssearch.png" /></a>
                                </div>
                                </div>
                            ------------CUSTOM SEARCH BAR------------*@

                            <div class="clearfix"></div>

                        </div>


                        <div class="clearfix"></div>



                        <div class="clearfix"></div>



                            <div class="col-md-12 mt-30">

                                <table class="table table-responsive border_black" id="example">
                                    <thead>
                                        <tr class="table-heading-fonts table-main-headings">
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Supplier Name</th>
                                            <th class="text-center">SKU</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Cost Price</th>
                                            <th class="width-61 text-center">Quantity</th>
                                            <th class="text-center">Warn Level</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bold tbody-font-style">

                                        @*<tr data-toggle="modal" data-target=".bs-example-modal-lg">*@
                                        <tr>
                                            <td class="text-center">12</td>
                                            <td class="text-center">Johnson</td>
                                            <td class="text-center">2410G-SONY</td>
                                            <td class="text-center">2.4 38Mega Pixel TVI Hybrid Fixed Lens HQ</td>
                                            <td class="text-center">£130</td>
                                            <td class="text-center">10000</td>
                                            <td class="text-center">99</td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div class="clearfix"></div>


                            </div>

                            <div class="clearfix"></div>


                        <div class="clearfix"></div>

                    </div>
                </div>
                @*-----------------Main Container Ends---------------*@
            </div>


            <div id="sticky-footer-push"></div>
        </div>
    </div>

    <footer class="black">

        @{
            Html.RenderPartial("Footer_View");
        }
    </footer>

    <script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/new-js/jquery.datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#example').dataTable();
        });
    </script>


</body>