<body id="body-index">
    <div id="sticky-footer-wrap">

        @*-----------------Top Navigation Start---------------*@

        @{
            Html.RenderPartial("Top_Navigation_View");
        }

        @*-----------------Top Navigation End---------------*@

        <div class="container-fluid main-container">

            @*-----------------Side Navigation Start---------------*@
            <div class="row">
                @{
                    Html.RenderPartial("Side_Navigation_View");
                }
                @*-----------------Side Navigation End---------------*@



                @*-----------------Main Container Start---------------*@
                <div class="user-page-height">
                    <div class="bggg-img">
                        <div class="">

                            <div class="col-md-4 pull-left">
                                <h3 class="bold">
                                    New Invoice
                                </h3>

                                <div class="empty-height"></div>
                                <div class="empty-height"></div>


                                <div class="col-md-6 pull-left">
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-md">
                                        <span class=""><img src="~/img/images/existing_supplier.png" /></span><br />
                                        <span class="bold">Existing Customer</span>
                                    </a>
                                </div>

                                <div class="col-md-6 pull-left">
                                    <a href="#" data-toggle="modal" data-target="#CreateModal">
                                        <span class=""><img src="~/img/images/new_supplier.png" /></span><br />
                                        <span class="bold">New Customer</span>

                                    </a>
                                </div>


                                <div class="clearfix"></div>


                            </div>





                            <div class="col-md-2 pull-left">
                                <div class="empty-height"></div>
                                <ul class="list-style-type-custom">
                                    <li class="bold font-18 black-color">Premium Customer</li>
                                    <li>cctv</li>
                                    <li>address</li>
                                    <li>postcode</li>
                                    <li>phone</li>
                                    <li>email</li>
                                </ul>
                            </div>

                            <div class="col-md-6 pull-left pr-0">

                                <div class="empty-height"></div>
                                <div class="col-md-5">
                                    <label><input type="checkbox" value="" />Check Sold History</label>
                                    <label><input type="checkbox" value="" />Exclude VAT</label>
                                    <label><input type="checkbox" value="" />Show Details</label>
                                </div>
                                <div class="col-md-7 pr-0">

                                    <div class="form-group">
                                        <label class="pull-left width-145" for="middle-name">Document Type</label>
                                        <div class="pull-left">
                                            <input class="width-120" type="text" name="company_name" id="company_name" required>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-group">
                                        <label class="pull-left width-145" for="middle-name">Invoice Number</label>
                                        <div class="pull-left">
                                            <input class="width-120" type="text" name="company_name" id="company_name" required>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>


                                    <div class="form-group">
                                        <label class="pull-left width-145" for="middle-name">Date</label>
                                        <div class="pull-left">
                                            <input class="width-120" type="text" name="company_name" id="company_name" required>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-group">
                                        <label class="pull-left width-145" for="middle-name">Sales Person</label>
                                        <div class="pull-left">
                                            <input class="width-120" type="text" name="company_name" id="company_name" required>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-group">
                                        <label class="pull-left width-145" for="middle-name">Payment Method</label>
                                        <div class="pull-left">
                                            <input class="width-120" type="text" name="company_name" id="company_name" required>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>


                                    <div class="form-group">
                                        <label class="pull-left width-145" for="middle-name">Purchase Order No</label>
                                        <div class="pull-left">
                                            <input class="width-120" type="text" name="company_name" id="company_name" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                        </div>



                    </div>
                </div>
                @*-----------------Main Container Ends---------------*@
            </div>


            @*<div id="sticky-footer-push"></div>*@
        </div>
    </div>

    <footer class="black">

        @{
            Html.RenderPartial("Footer_View");
        }
    </footer>


    @*----------------------------POP UP for CUSTOMER SUMMARY--------------------------------*@

    <div class="modal fade" id="customer_modal" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content modal-style-custom">

                <div class="title col-md-12">
                    <span>Message</span>
                    <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="win text-center">
                            <h3 class="black-color"><b>Find Customer</b></h3>

                            <form id="demo-form2" action="#" method="post" data-parsley-validate class="form-horizontal form-label-left mt-30" enctype="multipart/form-data">

                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="">
                                            <div class="pull-left">
                                                <input type="text" name="customer" class="width-320">
                                                <a href="~/Report/SaleReport" class="btn-primary btn-mini center-block btn-existing-supplier-cancel" style="">Cancel</a>
                                                <input data-dismiss="modal" onclick="show_customer_summary()" type="button" class="btn-success btn-mini center-block btn-existing-supplier-search" value="Search" />

                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                    </div>

                                </div>
                            </form>


                        </div>


                    </div>
                </div>

                <div class="modal-footer"></div>

            </div>
        </div>
    </div>

    @*----------------------------POP UP END CUSTOMER SUMMARY--------------------------------*@

    <script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/new-js/jquery.datatables.min.js"></script>

    <script>
        function show_customer_summary() {
            $("#customer_summary").removeClass("none");
            $("#customer_summary").addClass("showDiv");
            $("#date_click_div").addClass("none");
        }
    </script>

    <script>
        function showDateDiv() {
            var to = document.getElementById("to_date").value;
            $("#date_click_div").removeClass("none");
            $("#date_click_div").addClass("showDiv");
            $("#customer_summary").addClass("none");
        }


    </script>

    <script>
        function showToDate() {
            var from = document.getElementById("from_date").value;

            if (from == "") {
            }

            else {
                document.getElementById("to_date").removeAttribute('disabled');
            }
        }


    </script>


    <script>

        function myDate() {
            var date = new Date(document.getElementById("to_date")).toDateString("yyyy-MM-dd");
        }

    </script>





    <script>
        $(document).ready(function () {
            $('#example').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#example1').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#table_on_dates').dataTable();
        });
    </script>

    <script>
        function PrintBtn() {
            $("#crud_btn_hide").addClass("none");
            $("#side_navi_hide").addClass("none");

            window.print();
        }
    </script>

</body>