.user-page-height {
    width: 81%;
    float: right;
    height: 100%;
    /*background: #fff;*/
    background: -webkit-linear-gradient(left, #c9c9c9,#fafafd, #fafafd,#c9c9c9 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c9c9c9,#fafafd,#fafafd,#c9c9c9 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c9c9c9,#fafafd,#fafafd, #c9c9c9 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c9c9c9,#fafafd,#fafafd, #c9c9c9 ); /* Standard syntax (must be last) */
}

.index-page-heading {
    color: #000;
    margin: 0 0 30px 38px;
    text-align: left;
    font-weight: bold;
}

.ml-15 {
    margin-left: 15px;
}

.hrr {
    color: #00AAFF;
    background-color: #00AAFF;
    height: 5px;
    width: 95%;
}

.ml-9 {
    margin-left: 18px;
}

.mr-9 {
    margin-right: 18px;
}

.user-management-button {
    width: 220px;
    height: 40px;
}

.pl-82 {
    padding-left: 82px;
}

.supplier-edit {
    width: 81%;
    height: 910px;
    float: right;
    /*background: #fff;*/
    background: -webkit-linear-gradient(left, #c9c9c9,#fafafd, #fafafd,#c9c9c9 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c9c9c9,#fafafd,#fafafd,#c9c9c9 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c9c9c9,#fafafd,#fafafd, #c9c9c9 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c9c9c9,#fafafd,#fafafd, #c9c9c9 ); /* Standard syntax (must be last) */
}

.supplier-create-texts {
    text-align: left;
    font-weight: bold;
    width: 175px;
    float: left;
}

.user-create-texts {
    text-align: left;
    font-weight: bold;
    width: 135px;
    float: left;
}

.width-193 {
    width: 193px;
    height: 80px;
}

.width-135 {
    width: 150px;
    float: left;
    text-align: left;
    font-size: 15px;
}

.width-94 {
    width: 94px;
    float: left;
    text-align: left;
}

.supplier-border {
    border-bottom: 1px solid #000;
    width: 93%;
    margin-bottom: 15px;
    margin-left: -16px;
}

.product-border {
    border-bottom: 5px solid #00AAFF;
    width: 100%;
    margin-bottom: 15px;
    margin-left: -16px;
}

.a-cancel {
    width: 145px;
    margin-top: 2px;
}

.width-150 {
    width: 150px;
}

.width-360 {
    width: 360px;
}

.font-16{
    font-size:16px;
}

.mr-60{
    margin-right:60px;
}

.mr-180{
    margin-right:180px;
}

.stock-transfer-img{
    width: 35px;
    height: 35px;
    margin-left: 78px;
    margin-top: -7px;
    float: left;
}

.plus-img{
     width: 35px;
    height: 32px;
    margin-left: 224px;
    /* margin-top: -2px; */
    float: left;
}

.pencil-img{
     width: 35px;
    height: 32px;
    margin-left: 10px;
     margin-top: -8px; 
    float: left;
}

.width-145 {
    width: 145px;
}

.width-400 {
    width: 400px;
}

.width-170 {
    width: 170px;
}

.ext-texts {
    float: left;
    margin: 2px -27px 0 36px;
}

.vat-texts {
    float: left;
    margin: 3px -8px 0 36px;
}


.contacts-texts {
}

.width-43 {
    width: 43px;
}

.width-123 {
    width: 123px;
}

.black-color {
    color: #000;
}

.margin-supplier {
    margin: -34px 81px 20px 0;
}

.mr--13 {
    margin: 0 -13px 0 0;
}

.modal-style-custom {
    background: linear-gradient(to bottom, #fafafd, #b2b2b3);
    border: 3px solid #00aeee;
}

.mt-30 {
    margin-top: 30px;
}

.width-320 {
    width: 320px;
}

.btn-existing-supplier-cancel {
    width: 110px;
    height: 26px;
    margin-left: 11px;
    float: right;
}

.btn-existing-supplier-search {
    width: 110px;
    float: right;
    margin-left: 12px;
}

.table-heading-fonts {
    color: #0094ff;
    font-size: 16px;
}

.new-supplier-btn-margin {
    margin: -20px -40px 0 0;
}

.existing-supplier-btn-margin {
    margin: -20px -25px 0 0;
}

.margin-stock-manager-heading{
    margin: 35px 0 10px -20px;
}

.width-208{
    width:208px;
}

.ml--95{
    margin-left:-95px;
}
.search-btn-product{
    position:absolute;
    bottom:0;
    margin-left:86px;
}

.search-filter-div{
    margin:23px 0 0 160px;
}

.supplier-epos-btn {
    margin: 15px 0 0 -20px;
}

.product-stock-btn {
    margin: 15px 0 0 67px;
}

.product-import-btn {
    margin: 15px 0 0 135px;
}

.table-inline-margin {
    margin: 0 5px 0 5px;
}

.top-li-messages {
    margin-top: 2px;
    margin-right: -15px;
}

.div-messages {
    width: 300px;
    padding: 6px;
}

.div-dropdown-messages {
    margin-bottom: 8px;
    font-weight: bold;
    border-bottom: 2px solid #6ba0ab;
    padding-bottom: 4px;
}

.font-15 {
    font-size: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15{
    margin-top:15px;
}

.mt-20 {
    margin-top: 20px;
}



.ml-10 {
    margin-left: 10px;
}

.ml--30 {
    margin-left: 15px;
}

.width-200 {
    width: 200px;
}

.user-permission-btn {
    margin: 0px 0 15px -50px;
}

.bold {
    font-weight: bold!important;
}

.width-192{
    width:192px;
}

#input_container {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 20px;
    background: #ddd;
    direction: rtl;
    width: 200px;
}

#input {
    height: 26px;
    margin: 0;
    padding-right: 30px;
    width: 193px;
}

#input_img {
    position: absolute;
    bottom: 0;
    right: -54px;
    width: 24px;
    height: 24px;
}

.hideDiv {
    display: none;
}

.showDiv {
    display: block;
}

.white{
    color:#FFF;
}

.banner-size{
    width:100%; height:786px;
}

.home-index-inputs{
    width: 120px !important; 
    height: 30px;
}

.home-index-form {
    float: right;
    margin-right: -25px;
    margin-bottom: 5px;
}

.user-index-clock-in{
    margin:30px 0 40px 0;
}

.user-lunch-break-margin{
    margin:0 38px 0 38px;
}

.user-time{
    margin:22px 0 11px 0;
}

.width-50{
    width:50px;
}

.user-time-style{
    font: bold 25px Courier;
}

.user-date-style{
    font: bold 16px Courier;
}

.row1 {
    /*border: 1px solid black;*/
    overflow: hidden;
    
    color:#000!important;
}

.margin-table-product{
    margin:0px 12px 0 12px;
}

.unbold{
    font-weight:normal !important;
}

.margin-checkboxes-product{
    margin:30px 13px 0 0;
}

.width-300{
    width:300px;
}
.font-11{
    font-size:11px;
}

.font-12{
    font-size:12px;
}

.tbody-font-style {
    font-size: 15px;
    color: #000;
}

.col1 {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin-right: 5px;
    font-size:12px;
    margin-bottom:0px!important;
}

.col1-without-padding {
    border: 1px solid black;
    float: left;
    padding: 1px;
    margin-right: 5px;
    font-size:12px;
    margin-bottom:0px!important;
}


.col1-bold {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin-right: 5px;
    font-size:12px;
    font-weight:bold!important;
}

.checkboxes-user-tools-main{
    max-height:35px;
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin-right: 5px;
    font-size:10px;
}

.max-width-61{
    max-width:61px;
}

.checkboxes-user-tools{
    max-height:35px;
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin-right: 5px;
    font-size:10px;
}

.main-checkboxes{

}

.font-13{
    font-size:13px;
    font-weight:bold;
}

.vertical-align{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.width-61{
    max-width:58px;
}

.width-87{
    max-width:87px;
}

.width-73{
    max-width:73px;
}

.width-90{
    max-width:90px;
}

.checkbox-main-style{
    margin-bottom:0px !important;
    font-size:14px;
}
.min-width-88{
    min-width:128px!important;
}

.width-110{
    max-width:110px!important;
}

.min-height-32{
    min-height:32px!important;
}

.min-height-44{
    min-height:68px!important;
}

.mt-5{
    margin-top:5px;
}

.min-width-120{
    min-width:120px;
}

.mb-0{
    margin-bottom:0px !important;
    font-weight:normal !important;
}

.table-main-headings{
    background: #404040; color: #fff; 
}

.table-border{
    border: 2px solid #202020
}

.red{
    color:red;
}

.green{
    color:greenyellow;
}
.gg{
    color:#003300;
}

.a-tag-active{
   background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
}

.ml-22{
    margin-left:22px;
}


.ml--50{
    margin-left:-50px;
}

.red-border{
    color:white;
    background-color:#d9534f;
}